.container {
  display: flex;
  max-width: 1240px;
  margin: 59px auto;
  margin-bottom: 0px;
  background-size: cover;
  justify-content: center;
}

.layer {
  background: rgba(50, 50, 50, 0.9);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header {
  align-items: flex-start;
  color: #ddd;
}

.actions {
  margin: 5px 0px;
  display: flex;
  justify-content: space-between;
}

.desc {
  color: #ddd;
  /* margin-top: 10px;
  margin-bottom: 0px; */
}

#image {
  max-width: 400px;
  margin: 10px;
}
