.container {
  display: flex;
  padding: 5%;
  justify-content: center;
}

.image {
  width: 100px;
}

.header {
  align-items: flex-start;
}

.actions {
  display: flex;
  justify-content: space-between;

}

.desc {
  color: gray;
  margin-top: 10px;
  margin-bottom: 0px;
}

#audio {
  display: flex;
  justify-content: space-around;
}
