.formContainer {
  padding-top: 100px;
  /* width: 60%;
  height: 70%; */
  align-content: center;
  margin: auto;
}

.uploadForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadItem {
  margin: 5px;
}

#upload {
  height: 25px;
  border-style: hidden;
  background-color: #f70;
  color: #fff;
}

#err {
  color: red;
  align-self: center;
}
