.parent {
  display: block;
}

.commentUl {
  list-style-type: none;
  max-width: 1240px;
  padding: 0px 50px;
  margin: 5px auto;
}

.commentItem {
  border-bottom: groove;
  padding: 1%;
  background-color: #fff;
}

.delete {
  color: #f70;
  background: #fff;
  border-radius: 10%;
}

#comment {
  color: gray;
  font-size: small;
}

#input {
  margin-bottom: 5px;
}

h5 {
  margin: 0px;
}
