#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  position: absolute;
  background-color: white;
  padding: 5px;
}

.err {
  color: red;
  align-self: center;
}

.modal-container {
  display: flex;
  flex-direction: column;
}

.item input {
  margin: 5px;
}

.submit {
  background: linear-gradient(#f70, #f30);
  color: #fff;
  border-style: hidden;
}
