a,
a:visited {
  text-decoration: none;
  color: rgb(90, 90, 90);
}

.homeParent {
  display: grid;
  grid-template-rows: 50px auto;
  padding: 10px;
}

.homeUl {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  list-style-type: none;
}

.homeLi {
  padding: 5px;
  max-width: 200px;
  height: fit-content;
  border-radius: 3%;
}

.homeLi.homeLi:hover {
  background-color: rgb(213, 213, 213);
  /* background-color: rgba(255, 119, 0, 0.522); */
}

.img {
  border-radius: 2%;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.1);
}

.homeP {
  display: flex;
  justify-content: space-between;
}

#play {
  background-color: #f70;
  border-style: solid;
  border-radius: 15%;
  border-color: #ccc;
  border-width: 1px;
  padding: 6px 6px;
}

.fa-circle-play {
  color: #fff;
  font-size: large;
}

.fa-circle-play:hover {
  color: #f70;
  font-size: x-large;
}

#play:hover {
  background-color: rgb(213, 213, 213);
  border-style: hidden;
}

h3 {
  font-size: auto;
  font-weight: normal;
  margin: 5px 5px;
}

.home-header {
  height: 400px;
  background-image: url(https://soundcloneupload.s3.us-west-2.amazonaws.com/sc_landing_header.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title {
  color: #fff;
  text-align: center;
  width: 30%;
  font-size: xx-large;
}

#bold {
  color: #f70;
}

#home-songs {
  padding-top: 10px;
  font-size: x-large;
  text-align: center;
}
