.navbar {
  background-color: #333;
  height: 45px;
  width: 1240px;
  margin: auto;
  display: flex;
}

#nav {
  width: 100%;
}

#home {
  height: 100%;
  width: auto;
  border-style: hidden;
  background: linear-gradient(#f70, #f30);
}

.fa-soundcloud {
  color: #fff;
  font-size: 130%;
  margin-right: 2px;
}

.font {
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  color: #fff;
  font-size: x-large;
  position: relative;
  top: -2px;
}

.nav-button {
  border: hidden;
  border-right: solid;
  border-color: rgba(204, 204, 204, 0.5);
  border-width: 1px;
  color: #ccc;
  background-color: #333;
  font-size: large;
  position: relative;
  top: -5px;
  height: 44px;
}

.demo-button {
  border: hidden;
  color: #f70;
  background-color: #333;
  font-size: large;
  position: relative;
  top: -5px;
}

.profile-button {
  border: hidden;
  color: #ccc;
  background-color: #333;
  font-size: large;
  position: relative;
  top: -5px;
}

.nav-button:hover {
  color: #fff;
}

.profile-dropdown {
  list-style: none;
  background-color: #333;
  color: #ccc;
  margin: 0px;
  padding: 5px;
  position: relative;
  top: -5px;
  border-top: thin solid rgba(0, 0, 0, 0.5);
}

.logoutButton {
  border-style: hidden;
  background-color: #f70;
  color: #fff;
}
