.navbar {
  background-color: #333;
  height: 45px;
  width: 100%;
  display: flex;
}

#nav {
  width: 100%;
}

#home {
  height: 100%;
  width: auto;
  border-style: hidden;
  background: linear-gradient(#f70, #f30);
}

.fa-soundcloud {
  color: #fff;
  font-size: 130%;
  margin-right: 2px;
}

.font {
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  color: #fff;
  font-size: x-large;
}

.nav-button {
  border: hidden;
  /* border-bottom: hidden;
  border-color: rgba(56, 56, 56, 0.8); */
  color: #ccc;
  background-color: #333;
  font-size: large;
}

.nav-button:hover {
  color: #fff;
}

.profile-dropdown {
  list-style: none;
  background-color: #333;
  color: #ccc;
  margin: 0px;
  padding: 5px;
}

.logoutButton {
  border-style: hidden;
  background-color: #f70;
  color: #fff;
}
